@using System.Security.Claims
@{
    ViewData["Title"] = "Welcome to the secret page";
    var principal = User.Identity as ClaimsIdentity;
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-6">
        @if (principal.IsAuthenticated)
        {
            <h2>Well hello there!</h2>
            <p><img class="img-thumbnail" src="~/img/picture-of-beagle-puppy-1.jpg" alt="Beagle puppy" /></p>
        }
    </div>
</div>