
@{
    ViewBag.Title = "OAuth 2.0 Authorisation Server";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>@Html.ActionLink("Clients", "Index", "Clients")</p>
    <p>@Html.ActionLink("Scopes", "Index", "Scopes")</p>
</div>